<div class="container">
    <h1 class="text-center">Csv to QR-Code</h1>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div class="card">
                <div class="card-body">
                    <div>
                        <label for="logoUrlInput" class="form-label">Logo URL</label>
                        <input [value]="logoUrl()" (change)="logoUrlChange($event)" id="logoUrlInput" type="text" class="form-control">
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="logoHeightInput" class="form-label">Logo Height (0 for auto)</label>
                            <input [value]="logoHeight()" (change)="onLogoHeightChange($event)" id="logoHeightInput" type="number" class="form-control">
                        </div>
                        <div class="col">
                            <label for="logoWidthInput" class="form-label">Logo Width (0 for auto)</label>
                            <input [value]="logoWidth()" (change)="onLogoWidthChange($event)" id="logoWidthInput" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="borderRadiusInput" class="form-label">Border Radius</label>
                            <input [value]="borderRadius()" (change)="onBorderRadiusChange($event)" id="borderRadiusInput" type="number" class="form-control">
                        </div>
                        <div class="col">
                            <label for="stickerPaddingInput" class="form-label">Sticker Padding</label>
                            <input [value]="stickerPadding()" (change)="onStickerPaddingChange($event)" id="stickerPaddingInput" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="stickerHeightInput" class="form-label">Sticker Height</label>
                            <input [value]="stickerHeight()" (change)="onStickerHeightChange($event)" id="stickerHeightInput" type="number" class="form-control">
                        </div>
                        <div class="col">
                            <label for="stickerWidthInput" class="form-label">Sticker Width</label>
                            <input [value]="stickerWidth()" (change)="onStickerWidthChange($event)" id="stickerWidthInput" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="codeSizeInput" class="form-label">QR-Code Size</label>
                            <input [value]="codeSize()" (change)="onCodeSizeChange($event)" id="codeSizeInput" type="number" class="form-control">
                        </div>
                        <div class="col">
                            <label for="nameSizeInput" class="form-label">Name Size</label>
                            <input [value]="nameSize()" (change)="onNameSizeChange($event)" id="nameSizeInput" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="csvFileInput" class="form-label">Csv File = {{'{ name, code }'}}</label>
                        <input (change)="onFileSelected($event)" type="file" id="csvFileInput" class="form-control">
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input (change)="onCutlineToggle()" type="checkbox" id="cutLineOnlyToggle" class="form-check-input" [checked]="cutlineToggle()">
                                <label for="cutLineOnlyToggle" class="form-label-input">Cut Line</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input (change)="onContentToggle()" type="checkbox" id="contentToggle" class="form-check-input" [checked]="contentToggle()">
                                <label for="contentToggle" class="form-label-input">Show Content</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input (change)="onNameToggle()" type="checkbox" id="nameToggle" class="form-check-input" [checked]="nameToggle()">
                                <label for="nameToggle" class="form-label-input">Show Name</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-5">
        <sticker-list
            [logoUrl]="logoUrl()"
            [borderRadius]="borderRadius()"
            [stickerHeight]="stickerHeight()"
            [stickerWidth]="stickerWidth()"
            [stickerPadding]="stickerPadding()"
            [logoHeight]="logoHeight()"
            [logoWidth]="logoWidth()"
            [codeSize]="codeSize()"
            [nameSize]="nameSize()"
            [cutlineToggle]="cutlineToggle()"
            [contentToggle]="contentToggle()"
            [nameToggle]="nameToggle()"
            [products]="products()"
        />
    </div>
</div>
